header {
    background-color: rgb(70, 64, 65);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    margin: 0;
    font-family: Merriweather;
}

nav a {
    color: beige;
    font-size: 30px;
    margin: 30px;
    text-decoration: none;
}

button {
    padding: 20px 40px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    font-family: 'Play';
    cursor: pointer;
    transition: 0.5s;
    ;
}

button:hover {
    background-color: rgb(243, 229, 229);
    font-family: Merriweathe;
    color: darkgrey;
    transform: scale(1.1);
}

div {
    text-align: center;
    padding: 150px;
    background-image: linear-gradient(to top, rgba(80, 75, 75, 0.707), rgba(88, 86, 86, 0.145)), url(town.jpg);
    background-size: cover;
}

p {
    font-size: larger;
    font-weight: bold;
}

footer {
    background-color: rgb(70, 64, 65);
    align-items: center;
}

footer p {
    margin: 0;
    padding: 50px;
}

@media(max-width: 500px) {
    header {
        display: block;
        text-align: center;
        padding: 10px 0;
    }
    nav {
        margin: 10px 0;
    }
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 15px;
        color: beige;
    }
    div {
        padding: 20px 10px;
    }
}